.access {
  padding: 65px 0 113px;

  @media (max-width: 576px) {
    padding-bottom: 180px;
  }

  &__wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 65px;

    @media (max-width: 576px) {
      grid-gap: 45px;
    }
  }

  &__text {
    max-width: 577px;
    text-align: center;
  }

  &__descr {
    color: var(--color-gray);
  }

  &__hexagon {
    display: flex;

    @media (max-width: 1440px) {
      grid-gap: 21px;
    }
  }

  &__hexagon-block {
    --current-gap: clamp(5px, 0.694vw, 10px);
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--current-gap);

    &:first-child {
      .access__item:nth-last-of-type(-n+2) {
        transform: translate(calc(50% + (var(--current-gap)/2)), -25%);
      }

      @media (max-width: 576px) {
        --current-gap: 15px;
        transform: rotate(-60deg) translate(-32%, 29%);
        transform-origin: top;

        img {
          transform: rotate(60deg);
        }
      }
    }

    &:last-child {
      .access__item:nth-last-of-type(-n+2) {
        transform: translate(calc(50% + (var(--current-gap)/2)), -25%);
      }

      @media (max-width: 576px) {
        --current-gap: 15px;
        transform: rotate(60deg) translate(32%, 29%);
        transform-origin: top;

        img {
          transform: rotate(-60deg);
        }
      }
    }
  }

  &__hexagon-midblock {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__hexagon-descr {
    margin-top: 50px;
    color: var(--color-blue);

    @media (max-width: 1440px) {
      position: absolute;
      bottom: 30%;
      width: 300%;
      text-align: center;
    }

    @media (max-width: 576px) {
      bottom: -50%;
    }
  }

  &__item-content {
    height: clamp(109px ,10.694vw, 154px);
    width: clamp(96px, 9.444vw, 136px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
