.android {
  display: flex;
  background: linear-gradient(90deg, rgba(255,255,255,1) 72%, rgba(68,103,251,1) 28%);

  &__info {
    padding: 125px 0 105px;
  }

  &__image-bg {
    position: absolute;
    right: 30px;

    @media (max-width: 1440px) {
      right: -7%;
    }
  }
}
