.application {
  &__search {
    max-width: 320px;
    width: 100%;
    margin: 20px 0 15px;
    height: 40px;
  }

  &__list {
    max-width: 532px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #D9D9D9;

  }

  &__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #D9D9D9;
  }

  &__list-country {
    display: flex;
    align-items: center;
    grid-gap: 14px;
  }

  &__list-btns {
    display: flex;
    align-items: center;
    grid-gap: 12px;
  }

  &__activate {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    border-radius: 50px;
    transition: all 0.4s ease;
    border: 1px solid #D9D9D9;

    svg {
      transition: all 0.4s ease;
      fill: var(--color-black);
    }

    &:hover {
      background-color: var(--color-black);
      border: 1px solid transparent;

      svg {
        fill: var(--color-white);
      }
    }
  }
}
