.benefits {
  padding: clamp(69px, 7.715vw, 79px) 0 clamp(60px, 7.52vw, 77px);

  &__wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 27px;
  }

  &__text {
    max-width: 577px;
    text-align: center;
  }

  &__descr {
    color: #8C8D96;
  }

  &__list {
    max-width: 1015px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 8px ;
  }

  &__list-item {
    padding: 16px 18px;
    display: flex;
    align-items: center;
    grid-gap: 8px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;

    @media (max-width: 1024px) {
      order: 2;

      &:last-child {
        order: 0;
      }

      &:nth-child(2) {
        order: 0;
      }

      &:nth-child(4) {
        order: 1;
      }

      &:nth-child(3) {
        order: 3;
      }

    }
  }

  &__list-descr {
    a {
      color: var(--color-blue);
      text-decoration: underline;
    }
  }
}
