.contacts {
  flex-grow: 1;
  padding: 25px 16px 65px;
  background-color: var(--color-alice-blue);

  &__inner {
    margin: 0 auto;
    width: fit-content;
    padding: 25px 35px 20px;
    background-color: var(--color-white);
    border: 1px solid #D9D9D9;
    border-radius: 10px;

    @media (max-width: 576px) {
      padding: 25px 16px;
    }
  }

  &__text {
    margin-bottom: 23px;
    font-family: var(--font-family-hind);
    text-align: center;
  }

  &__descr {
    color: var(--color-gray);
  }

  &__form {
    margin-bottom: 28px;
  }

  &__form-fieldset {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 4px;
    margin-bottom: 16px;
  }

  &__form-label {
    position: relative;
  }

  &__form-input,
  &__form-textarea {
    padding: 13px 12px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;

    &:focus {
      border: 1px solid #000000;
      box-shadow: 0px 0px 0px 2px rgba(44, 61, 71, 0.3);
    }

    &::placeholder {
      color: #8C8D96;
    }
  }

  &__form-input--telegram {
    padding-left: 55px;
  }

  &__form-textarea {
    height: 141px;
    resize: none;
  }

  &__form-name {
    color: #2C3D47;
  }

  &__form-btn {
    margin-top: 8px;
    width: 100%;
    text-align: center;
    padding: 18px 0;
    border-radius: 43px;
    color: var(--color-white);
    background-color: var(--color-blue);
    transition: all 0.4s ease;

    &:hover {
      background-color: rgba(68, 103, 251, 0.8);
    }
  }

  &__divider {
    position: relative;
    margin-bottom: 37px;
    border-top: 1px solid #D9D9D9;
    color: #fff;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0 10px;
      background-color: #D9D9D9;
      border-radius: 22px;
      display: flex;
      align-items: center;

      &::before,
      &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 7px;
        background-color: #fff;
      }

      &::before {
        left: -7px;
      }

      &::after {
        right: -7px;
      }
    }
  }

  &__email {
    display: flex;
    flex-direction: column;
    grid-gap: 17px;
  }

  &__email-details {
    display: flex;
    align-items: center;
    grid-gap: 6px;

    span {
      flex-grow: 1;
    }
  }

  &__email-copy {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F8FB;
    transition: all 0.4s ease;

    svg {
      fill: #8C8D96;
      transition: all 0.4s ease;
    }

    &:hover {
      background-color: rgba(68, 103, 251, 0.8);

      svg {
        fill: #fff;
      }
    }
  }

  &__email-connect {
    width: 100%;
    padding: 18px 0;
    text-align: center;
    border: 1px solid var(--color-border);
    border-radius: 43px;
    transition: all 0.4s ease;

    &:hover {
      border: 1px solid var(--color-blue);
    }
  }

  &__telegram-start {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
  }

  &__textarea-result {
    position: absolute;
    right: 10px;
    bottom: 6px;
    color: #8C8D96;
  }

}
