.devices {
  padding-top: 48px;
  background-color: var(--color-blue);

  &__wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 36px;
  }

  &__text {
    max-width: 577px;
    text-align: center;
    color: var(--color-white);
  }

  &__support {
    display: flex;
    flex-direction: column;
    grid-gap: 25px;
  }

  &__support-list {
    display: flex;
    align-items: center;
  }

  &__support-item {
    padding: 18px 31px;
    opacity: 0.5;
    border-bottom: 1px solid #9CAFFB;
    cursor: var(--cursor), pointer;
    transition: all 0.4s ease;

    &.active {
      opacity: 1;
      border-bottom: 2px solid var(--color-white);
    }
  }

  &__support-btn {
    display: flex;
    align-items: center;
    grid-gap: 6px;
    color: var(--color-white);
    pointer-events: none;

    svg {
      fill: var(--color-white);
    }
  }

  &__content-info {
    max-width: 352px;
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    color: var(--color-white);

  }

  &__download {
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
  }

  &__content-logo {
    display: flex;
  }

  &__keys {
    width: fit-content;
    padding: 16px 37px 18px 16px;
    display: flex;
    flex-direction: column;
    grid-gap: 14px;
    background-color: #3B60FA;
    border-radius: 10px;
  }

  &__keys-download {
    display: flex;
    align-items: center;
    grid-gap: 7px;
  }
}



