.header {
  &__location {
    padding: 13px 0;
    background-color: var(--color-black);
  }

  &__content {
    border-bottom: 1px solid var(--color-border);
  }

  &__wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__navigation {
    flex-grow: 1;
  }

  &__navigation-list {
    display: flex;
    align-items: center;
  }

  &__navigation-item {
    height: 70px;
    display: flex;
    border-right: 1px solid var(--color-border);

    @media (max-width: 1024px) {
      display: none;

      &:first-child,
      &:last-child {
        display: flex;
      }
    }

    @media (max-width: 769px) {
      &:last-child {
        display: none;
      }
    }
  }

  &__logo {
    display: flex;
    padding: 16px;
  }

  &__navigation-link {
    display: flex;
    align-items: center;
    grid-gap: 4px;
    padding: 16px;
    color: var(--color-gray);
    transition: all 0.4s ease;

    svg {
      fill: var(--color-gray);
      transition: all 0.4s ease;
    }

    &:hover {
      color: var(--color-black);

      svg {
        fill: var(--color-black);
      }
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    grid-gap: 9px;

    @media (max-width: 769px) {
      .help {
        display: none;
      }
    }
  }

  &__account {
    @media (max-width: 576px) {
      display: none;
    }
  }
}



