.keys {
  padding-bottom: 13px;
  background: linear-gradient(180deg, #EDF3FB 0%, rgba(237, 243, 251, 0) 20%);

  &__wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 37px;

    @media (max-width: 576px) {
      grid-gap: 23px;
    }
  }

  &__head {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 10px;
    color: var(--color-black);

    @media (max-width: 576px) {
      padding-bottom: 0;
    }
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 576px) {
      grid-template-columns: 100%;
    }
  }

  &__item {
    background-color: var(--color-border);
    border: 1px solid var(--color-border);
    border-radius: 20px;
    transition: all 0.4s ease;

    &:hover {
      border: 1px solid transparent;
      box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.1);

      .keys__item-country {
        background-color: var(--color-blue);
        color: var(--color-white);
      }
    }
  }

  &__item-country {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 8px;
    padding: 32px 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: var(--color-border);
    transition: all 0.4s ease;
  }

  &__item-vpns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px;
  }

  &__vpn {
    padding: 25px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 4px;
    background-color: var(--color-white);

    svg {
      flex-shrink: 0;
    }
  }

  &__vpn-inside {
    @media (max-width: 700px) {
      b {
        display: block;
      }
    }

    @media (max-width: 576px) {
      b {
        display: initial;
      }
    }
  }

  &__item-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px 13px;
    padding: 17px 16px 24px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: 1px solid var(--color-border);
    background-color: var(--color-white);
  }

  &__btn-market {
    grid-column: span 2;
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 28px;
    width: 100%;
    background-color: var(--color-white);
    border: 1px solid #D9D9D9;
    border-radius: 50px;
    transition: all 0.4s ease;
    grid-gap: 5px;

    &:hover {
      border: 1px solid transparent;
      background-color: var(--color-blue);
      color: var(--color-white);
    }

    @media (max-width: 769px) {
      padding: 10px 10px 10px 15px;
    }
  }

  &__download-btn {
    width: 100%;
    display: flex;
    align-items: center;
    grid-gap: 12px;

    span {
      flex-grow: 1;
      text-align: center;
    }
  }

  &__code-apk {
    position: relative;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: var(--color-white);
    border-radius: 50px;
    transition: all 0.4s ease;
    border: 1px solid #D9D9D9;
    z-index: 1;

    svg {
      transition: all 0.4s ease;
      fill: var(--color-black);
    }

    &:hover {
      background-color: var(--color-black);
      border: 1px solid transparent;

      svg {
        fill: var(--color-white);
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    transition: all 0.4s ease;

    &:hover {
      border: 1px solid var(--color-blue);
    }

    &--buy {
      max-width: 171px;
      width: 100%;
    }

    &--apk {
      max-width: 182px;
      width: 100%;
    }
  }

  &__apk-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 16px 16px 24px;
    grid-gap: 16px 8px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: 1px solid var(--color-border);
    background-color: var(--color-white);
  }

  &__apk-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 4px;
    padding: 4px 8px;
    border-radius: 20px;
    transition: all 0.4s ease;

    &--android {
      background-color: var(--color-blue);
      color: var(--color-white);

      svg {
        fill: var(--color-white);
      }
    }

    &--androidtv {
      background-color: var(--color-border);
      color: var(--color-gray);

      svg {
        fill: var(--color-gray);
      }
    }

    &--download {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      border-radius: initial;
    }
  }

  &__apk-market {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    transition: all 0.4s ease;

    &:hover {
      border: 1px solid var(--color-blue);
    }
  }

}
