.payment {
  padding: 25px 0 clamp(20px, 6.552vw, 65px);
  background-color: var(--color-alice-blue);

  &__wrapp {
    margin: 0 auto;
    max-width: 630px;
    width: 100%;
    padding: 0 16px;

    &--success {
      // max-width: 630px;
      // width: 100%;
    }
  }

  &__wrapper {
    background-color: var(--color-white);
    border: 1px solid #D9D9D9;
    border-radius: 10px;
  }

  &__title {
    padding: 18px 0;
    border-bottom: 1px solid #D9D9D9;
    text-align: center;
  }

  &__inner {
    position: relative;
    padding: 0 24px;
  }

  &__inner-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 16px;
    padding: 16px 0 24px;
    border-bottom: 1px solid #D9D9D9;
  }

  &__inner-contacts {
    width: 100%;
    display: flex;
    align-items: center;
    grid-gap: 24px;
  }

  &__inner-subtitle {
    span {
      color: #FF0000;
    }
  }

  &__contacts-text {
    margin-bottom: 15px;
    color: #8C8D96;
  }

  &__btn {
    width: 100%;
    text-align: center;
    padding: 18px 0;
    border-radius: 43px;
    color: var(--color-white);
    background-color: var(--color-blue);
    transition: all 0.4s ease;

    &:hover {
      background-color: rgba(68, 103, 251, 0.8);
    }
  }

  &__contacts-divider {
    width: 35px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: #D9D9D9;
    border-radius: 22px;
    color: #fff;
  }

  &__details {
    position: absolute;
    right: -220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 10px;
    padding: 20px 20px 20px 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #D9D9D9;
    text-align: center;

    @media (max-width: 1024px) {
      width: 100%;
      position: relative;
      right: initial;
      flex-direction: row;
      background-color: #F4F8FB;
      border-radius: 20px;
      border: transparent;
      padding: 16px;
      text-align: left;
    }
  }

  &__details-text {
    max-width: 182px;
    color: #8C8D96;

    a {
      color: #4467FB;
    }

    @media (max-width: 1024px) {
      max-width: 100%;
    }
  }


  &__failed {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    grid-gap: 20px;
    background-color: rgba(231, 76, 60, 0.1);
    border-radius: 10px;
    padding: 27px 26px;
  }

  &__failed-text {
    span {
      margin-bottom: 9px;
      display: block;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #E74C3C;
    }
  }

  &__success-head {
    padding: 26px 0 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #D9D9D9;
  }

  &__success-text {
    margin-top: 13px;

    span {
      display: block;
      margin-bottom: 7px;
      font-size: 18px;
      line-height: 22px;
      font-weight: 600;
      color: #37A44E;
    }
  }

  &__success-id {
    margin-top: 9px;
    color: #D9D9D9;
  }

  &__success-info {
    padding: 40px 25px 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 28px;
    text-align: center;
  }

  &__activation-text {
    margin-bottom: 16px;
    color: #8C8D96;
  }

  &__activation-steps {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 19px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      border-left: 1px dashed #D9D9D9;
      height: 100%;
    }
  }

  &__step {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 19px;
  }

  &__step-count {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4467FB;
    color: #fff;
  }

  &__step-descr {
    padding: 16px;
    background-color: #F4F8FB;
    border-radius: 10px;
  }

  &__activation-period {
    position: absolute;
    top: -21px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 5px;
    padding: 4px 8px;
    background-color: #4467FB;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.5);
  }

  &__period {
    color: #fff;
  }

  &__code-text {
    color: #8C8D96;
  }

  &__success-details {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    background-color: #F4F8FB;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    &::before {
      content: '';
      position: absolute;

    }
  }

  &__code-copy {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
  }
}

