.plans {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 630px;
  width: 100%;
  align-items: center;
  background-color: var(--color-white);
  box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1;

  @media (max-width: 576px) {
    grid-template-columns: 100%;
  }

  &__list {
    padding: 14px 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-right: 1px solid #EDF3FB;

    &:last-child {
      border: none;
    }

    @media (max-width: 769px) {
      padding: 14px 0 16px;
    }

    @media (max-width: 576px) {
      display: grid;
      grid-template-columns: 110px auto;
      justify-content: space-between;
      padding: 19px 16px 11px 24px;
      border-right: none;
      border-bottom: 1px solid #EDF3FB;
    }
  }

  &__season {
    margin-bottom: 6px;

    @media (max-width: 576px) {
      grid-row: 1;
      margin-bottom: 0;
    }
  }

  &__price {
    position: relative;
    min-height: 65px;
    margin-bottom: 12px;

    @media (max-width: 576px) {
      grid-row: 2;
      margin-bottom: 0;
    }
  }

  &__price-default {
    text-decoration-line: line-through;
    color: #8C8D96;
  }

  &__price-discount {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(-30deg);
    width: fit-content;
    padding: 2px 8px;
    background-color: #E74C3C;
    border-radius: 10px;
    color: #fff;
  }

  &__select {
    padding: 10px 24px;
    background-color: var(--color-blue);
    border-radius: 32px;
    color: var(--color-white);
    transition: all 0.4s ease;

    &:hover {
      background-color: rgba(68, 103, 251, 0.8);
    }

    @media (max-width: 576px) {
      grid-column: 2;
      grid-row: span 2;
    }
  }
}
