<footer class="footer">
  <div class="container">
    <div class="footer__wrapp">
      <div class="footer__top">
        <div class="footer__downloads">
          <div class="footer__logo">
            <img width='114' height='26' src="../img/footer-logo.svg" alt="VPN local logo">
          </div>
          <ul class="footer__downloads-list">
            <li class="footer__downloads-item">
              <a class="market" href="#">
                <img width='84' height='23' src="../img/apple.svg" alt="Apple Store">
              </a>
            </li>
            <li class="footer__downloads-item">
              <a class="market" href="#">
                <img width='85' height='20' src="../img/google.svg" alt="Google Play">
              </a>
            </li>
            <li class="footer__downloads-item">
              <a class="download download--footer" href="#">Download .apk</a>
            </li>
          </ul>
        </div>

        <nav class="footer__block">
          <div class="footer__block-title">Navigation</div>

          <ul class="footer__list">
            <li class="footer__list-item">
              <a class="footer__link" href="#">iOS</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link" href="#">Android</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link" href="#">Android TV</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link" href="#">Help</a>
            </li>
          </ul>
        </nav>

        <div class="footer__block">
          <div class="footer__block-title">⚡️ TOP Android & Android TV apps</div>

          <ul class="footer__apps">
            <li class="footer__app">
              <a class="footer__link" href="#">VPN USA</a>
            </li>
            <li class="footer__app">
              <a class="footer__link" href="#">VPN Korea</a>
            </li>
            <li class="footer__app">
              <a class="footer__link" href="#">VPN Italy</a>
            </li>
            <li class="footer__app">
              <a class="footer__link" href="#">VPN Italy</a>
            </li>
            <li class="footer__app">
              <a class="footer__link" href="#">VPN France</a>
            </li>
            <li class="footer__app">
              <a class="footer__link" href="#">VPN Brazil</a>
            </li>
            <li class="footer__app">
              <a class="footer__link" href="#">VPN China</a>
            </li>
            <li class="footer__app">
              <a class="footer__link" href="#">VPN Ukraine</a>
            </li>
            <li class="footer__app">
              <a class="footer__link" href="#">VPN Indonesia</a>
            </li>
            <li class="footer__app">
              <a class="footer__link" href="#">VPN India</a>
            </li>
            <li class="footer__app">
              <a class="footer__link" href="#">VPN Poland</a>
            </li>
            <li class="footer__app">
              <a class="footer__link" href="#">VPN Spain</a>
            </li>
          </ul>

          <a class="list" href="#">Check full list</a>
        </div>

        <nav class="footer__block">
          <div class="footer__block-title">Contacts</div>

          <ul class="footer__list">
            <li class="footer__list-item">
              <a class="footer__link" href="tel:+1758057845">+1 758 057845</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link" href="mailto:support@vpnlocals.com">support@vpnlocals.com</a>
            </li>
          </ul>
        </nav>



        <div class="buttons">
          <button class="button button--blue">Buy</button>
          <button class="button button--account">My account</button>
        </div>
      </div>

      <div class="footer__bot">
        <select>
          <option value="">ENG</option>
          <option value="">RU</option>
        </select>

        <div class="footer__copyright">© Copyright 2022 <span>VPN Local</span> All Rights Reserved</div>
      </div>
    </div>
  </div>
</footer>

