<footer class="footer">
  <div class="container">
    <div class="footer__wrapp">
      <div class="footer__top">
        <div class="footer__downloads">
          <div class="footer__logo">
            <img width='114' height='26' src="../img/footer-logo.svg" alt="VPN local logo">
          </div>
          <ul class="footer__downloads-list">
            <li class="footer__downloads-item">
              <a class="market" href="#">
                <img width='84' height='23' src="../img/apple.svg" alt="Apple Store">
              </a>
            </li>
            <li class="footer__downloads-item">
              <a class="market" href="#">
                <img width='85' height='20' src="../img/google.svg" alt="Google Play">
              </a>
            </li>
            <li class="footer__downloads-item">
              <a class="download download--footer" href="#">Download .apk</a>
            </li>
          </ul>
        </div>

        <nav class="footer__block">
          <div class="footer__block-title">Navigation</div>

          <ul class="footer__list">
            <li class="footer__list-item">
              <a class="footer__link" href="/ios.html">iOS</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link" href="/android.html">Android</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link" href="/android-tv.html">Android TV</a>
            </li>
            <li class="footer__list-item">
              <button class="footer__link">Help</button>
            </li>
          </ul>
        </nav>

        <div class="footer__block">
          <div class="footer__block-title">⚡️ TOP Android & Android TV apps</div>

          <ul class="footer__apps">
            <li class="footer__app">
              <a class="footer__link" href="#">VPN USA</a>
            </li>
            <li class="footer__app">
              <a class="footer__link" href="#">VPN Korea</a>
            </li>
            <li class="footer__app">
              <a class="footer__link" href="#">VPN Italy</a>
            </li>
            <li class="footer__app">
              <a class="footer__link" href="#">VPN Italy</a>
            </li>
            <li class="footer__app">
              <a class="footer__link" href="#">VPN France</a>
            </li>
            <li class="footer__app">
              <a class="footer__link" href="#">VPN Brazil</a>
            </li>
            <li class="footer__app">
              <a class="footer__link" href="#">VPN China</a>
            </li>
            <li class="footer__app">
              <a class="footer__link" href="#">VPN Ukraine</a>
            </li>
            <li class="footer__app">
              <a class="footer__link" href="#">VPN Indonesia</a>
            </li>
            <li class="footer__app">
              <a class="footer__link" href="#">VPN India</a>
            </li>
            <li class="footer__app">
              <a class="footer__link" href="#">VPN Poland</a>
            </li>
            <li class="footer__app">
              <a class="footer__link" href="#">VPN Spain</a>
            </li>
          </ul>

          <a class="list" href="#">Check full list</a>
        </div>

        <nav class="footer__block">
          <div class="footer__block-title">Contacts</div>

          <ul class="footer__list">
            <li class="footer__list-item">
              <a class="footer__link" href="tel:+1758057845">+1 758 057845</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link" href="mailto:support@vpnlocals.com">support@vpnlocals.com</a>
            </li>
          </ul>
        </nav>

        <div class="footer__btns buttons">
          <button class="button__buy button">Buy</button>
          <button class="button__account button__account--footer button">My account</button>
        </div>
      </div>

      <div class="footer__bot">
        <div class="lang select">
            <div class="lang__current select__current">
              <span class="lang__flag">
                <picture>
                  <source type='image/webp' srcset='img/flags/gb.webp'>
                  <img width='24' height='24' src='img/flags/gb.png' alt='Eng'>
                </picture>
              </span>

              <div class="lang__title">English</div>
            </div>

            <div class="lang__body select__body">
              <label class="lang__search">
                <input class="lang__input" type="search" placeholder="Search">
              </label>

              <ul class="lang__list">
                <li class="lang__item select__item" data-choice='choosen'>
                  <span class="lang__flag">
                    <picture>
                      <source type='image/webp' srcset='img/flags/gb.webp'>
                      <img width='24' height='24' src='img/flags/gb.png' alt='English'>
                    </picture>
                  </span>

                  <span class="lang__title">English</span>
                </li>
                <li class="lang__item select__item" data-choice='choosen'>
                  <span class="lang__flag">
                    <picture>
                      <source type='image/webp' srcset='img/flags/ua.webp'>
                      <img width='24' height='24' src='img/flags/ua.png' alt='Ukrainian'>
                    </picture>
                  </span>

                  <span class="lang__title">Ukrainian</span>
                </li>
                <li class="lang__item select__item" data-choice='choosen'>
                  <span class="lang__flag">
                    <picture>
                      <source type='image/webp' srcset='img/flags/at.webp'>
                      <img width='24' height='24' src='img/flags/at.png' alt='Austrian'>
                    </picture>
                  </span>

                  <span class="lang__title">
                    Austria
                    <span class="lang__translation-type">Machine translate</span>
                  </span>
                </li>
                <li class="lang__item select__item" data-choice='choosen'>
                  <span class="lang__flag">
                    <picture>
                      <source type='image/webp' srcset='img/flags/bd.webp'>
                      <img width='24' height='24' src='img/flags/bd.png' alt='Bangladesh'>
                    </picture>
                  </span>

                  <span class="lang__title">
                    Bangladesh
                    <span class="lang__translation-type">Machine translate</span>
                  </span>
                </li>
                <li class="lang__item select__item" data-choice='choosen'>
                  <span class="lang__flag">
                    <picture>
                      <source type='image/webp' srcset='img/flags/be.webp'>
                      <img width='24' height='24' src='img/flags/be.png' alt='Belgium'>
                    </picture>
                  </span>

                  <span class="lang__title">
                    Belgium
                    <span class="lang__translation-type">Machine translate</span>
                  </span>
                </li>
                <li class="lang__item select__item" data-choice='choosen'>
                  <span class="lang__flag">
                    <picture>
                      <source type='image/webp' srcset='img/flags/bg.webp'>
                      <img width='24' height='24' src='img/flags/bg.png' alt='Bulgaria'>
                    </picture>
                  </span>

                  <span class="lang__title">
                    Bulgaria
                    <span class="lang__translation-type">Machine translate</span>
                  </span>
                </li>
                <li class="lang__item select__item" data-choice='choosen'>
                  <span class="lang__flag">
                    <picture>
                      <source type='image/webp' srcset='img/flags/cr.webp'>
                      <img width='24' height='24' src='img/flags/cr.png' alt='Costa Rica'>
                    </picture>
                  </span>

                  <span class="lang__title">
                    Costa Rica
                    <span class="lang__translation-type">Machine translate</span>
                  </span>
                </li>
              </ul>
            </div>
        </div>

        <div class="footer__copyright">© Copyright 2022 <span>VPN Local</span> All Rights Reserved</div>
      </div>
    </div>
  </div>
</footer>

