<header class="header">
  <div class="header__location">
    <div class="location">
      <div class="location__flag">
        <picture>
          <source type='image/webp' srcset='img/flags/ua.webp'>
          <img width='20' height='20' src='img/flags/ua.png' alt='Ukraine'>
        </picture>
      </div>
      <div class="location__current">
        <span class="location__current-country">Ukraine</span>. Your IP: <span class="location__current-ip">192.68.8.1</span>
      </div>
    </div>
  </div>
  <div class="header__content">
    <div class="container">
      <div class="header__wrapp">
        <nav class="header__navigation">
          <ul class="header__navigation-list">
            <li class="header__navigation-item">
              <a class="header__logo" href="/">
                <img width='120' height='40' src="../img/logo.svg" alt="VPN local logo">
              </a>
            </li>
            <li class="header__navigation-item">
              <a class="header__navigation-link" href="/ios.html">
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#ios'></use>
                </svg>
                <span>iOS</span>
              </a>
            </li>
            <li class="header__navigation-item">
              <a class="header__navigation-link" href="/android.html">
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#android'></use>
                </svg>
                <span>Android</span>
              </a>
            </li>
            <li class="header__navigation-item">
              <a class="header__navigation-link" href="/android-tv.html">
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#android-tv'></use>
                </svg>
                <span>Android TV</span>
              </a>
            </li>
            <li class="header__navigation-item">
              <a class="header__navigation-link" href="/download-apk.html">
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#download'></use>
                </svg>
                <span>Download APK</span>
              </a>
            </li>
          </ul>
        </nav>

        <div class="header__btns buttons">
          <button class="help">
            <svg width='17' height='17'>
              <use href='img/sprite/sprite.svg#help'></use>
            </svg>
            <span>Help</span>
          </button>
          <button class="button__buy button">Buy</button>
          <button class="button__account button">My account</button>
        </div>
      </div>
    </div>
  </div>
</header>
