<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="Description" content="default">
  <title>VPN local</title>
  <link href="img/favicon.ico" rel="icon"/>
  <link rel="preload" href="fonts/Gilroy-Regular.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Gilroy-Medium.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Gilroy-SemiBold.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Gilroy-Bold.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Gilroy-ExtraBold.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Gilroy-Black.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Hind-Medium.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Hind-Bold.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/GloriaHallelujah-Regular.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Karla-Regular.woff2" as="font" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>
