<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="Description" content="default">
  <title>VPN local</title>
  <!-- <link href="img/favicon.ico" rel="icon"/> -->
  <link rel="preload" href="fonts/pt-sans.woff2" as="font" crossorigin="anonymous">
  <!-- <link rel="preload" href="fonts/Inter-Medium.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Inter-SemiBold.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Inter-Bold.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Inter-ExtraBold.woff2" as="font" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="css/style.css">
</head>
