<div class="modal">
  <div class="modal__container" data-animation="fade" data-speed="300" data-target="code">
    <div class="modal__wrapper code">
      <div class="modal__close modal-close">
        <svg width='18' height='18'>
          <use href='img/sprite/sprite.svg#close'></use>
        </svg>
      </div>
      <div class="code__wrapp">
        <div class="code__title">Scan QR code to open store on your device</div>
        <div class="code__qr">
          <svg width='301' height='299'>
            <use href='img/sprite/sprite.svg#scan'></use>
          </svg>
        </div>
        <div class="code__info">
          <div class="code__info-country">
            <div class="keys__country-flag">
              <picture>
                <source type='image/webp' srcset='img/flags/ua.webp'>
                <img width='24' height='24' src='img/flags/ua.png' alt='Ukraine'>
              </picture>
            </div>
            <div class="keys__country-name">VPN <span>Україна</span></div>
          </div>

          <div class="code__downloads-btns">
            <a href="/payment.html" class="keys__btn--buy keys__btn">Buy key</a>
            <a href="#" class="keys__btn--apk keys__btn">Download .apk</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal__container" data-animation="fade" data-speed="300" data-target="faq">
    <div class="modal__wrapper faq">
      <div class="modal__head">
        <div class="modal__head-title">Help</div>
        <div class="modal__close modal-close">
          <svg width='18' height='18'>
            <use href='img/sprite/sprite.svg#close'></use>
          </svg>
        </div>
      </div>

      <ul class="faq__items" data-spollers data-one-spoller>
        <li class="faq__item">
          <div class="faq__item-head" data-spoller>
            <div class="faq__item-icon">
              <span></span>
              <span></span>
            </div>
            <span>Elit dis lectus commodo in eget eu, sollicitudin. Ut odio vestibulum dui sed tincidunt?</span>
          </div>
          <div class="faq__item-details">
            <p><b>Et elementum pulvinar</b> lorem in porttitor et consectetur lacus. Cras purus cras eu duis cras aenean mi adipiscing pellentesque.</p>
            <ul>
              <li>Dignissim eu arcu eu porttitor dignissim volutpat lacus nulla.</li>
              <li>Vel auctor orci suspendisse magna <span>auctor nibh.</span></li>
              <li>Orci enim lorem suspendisse cras. Volutpat montes, vulputate sagittis quis ut dolor habitant lectus tortor. <span>Odio velit quam id vel a.</span></li>
            </ul>
          </div>
        </li>
        <li class="faq__item">
          <div class="faq__item-head" data-spoller>
            <div class="faq__item-icon">
              <span></span>
              <span></span>
            </div>
            <span>Elit dis lectus commodo in eget eu, sollicitudin. Ut odio vestibulum dui sed tincidunt?</span>
          </div>
          <div class="faq__item-details">
            <p><b>Et elementum pulvinar</b> lorem in porttitor et consectetur lacus. Cras purus cras eu duis cras aenean mi adipiscing pellentesque.</p>
            <ul>
              <li>Dignissim eu arcu eu porttitor dignissim volutpat lacus nulla.</li>
              <li>Vel auctor orci suspendisse magna <span>auctor nibh.</span></li>
              <li>Orci enim lorem suspendisse cras. Volutpat montes, vulputate sagittis quis ut dolor habitant lectus tortor. <span>Odio velit quam id vel a.</span></li>
            </ul>
          </div>
        </li>
        <li class="faq__item">
          <div class="faq__item-head" data-spoller>
            <div class="faq__item-icon">
              <span></span>
              <span></span>
            </div>
            <span>Elit dis lectus commodo in eget eu, sollicitudin. Ut odio vestibulum dui sed tincidunt?</span>
          </div>
          <div class="faq__item-details">
            <p><b>Et elementum pulvinar</b> lorem in porttitor et consectetur lacus. Cras purus cras eu duis cras aenean mi adipiscing pellentesque.</p>
            <ul>
              <li>Dignissim eu arcu eu porttitor dignissim volutpat lacus nulla.</li>
              <li>Vel auctor orci suspendisse magna <span>auctor nibh.</span></li>
              <li>Orci enim lorem suspendisse cras. Volutpat montes, vulputate sagittis quis ut dolor habitant lectus tortor. <span>Odio velit quam id vel a.</span></li>
            </ul>
          </div>
        </li>
        <li class="faq__item">
          <div class="faq__item-head" data-spoller>
            <div class="faq__item-icon">
              <span></span>
              <span></span>
            </div>
            <span>Elit dis lectus commodo in eget eu, sollicitudin. Ut odio vestibulum dui sed tincidunt?</span>
          </div>
          <div class="faq__item-details">
            <p><b>Et elementum pulvinar</b> lorem in porttitor et consectetur lacus. Cras purus cras eu duis cras aenean mi adipiscing pellentesque.</p>
            <ul>
              <li>Dignissim eu arcu eu porttitor dignissim volutpat lacus nulla.</li>
              <li>Vel auctor orci suspendisse magna <span>auctor nibh.</span></li>
              <li>Orci enim lorem suspendisse cras. Volutpat montes, vulputate sagittis quis ut dolor habitant lectus tortor. <span>Odio velit quam id vel a.</span></li>
            </ul>
          </div>
        </li>
        <li class="faq__item">
          <div class="faq__item-head" data-spoller>
            <div class="faq__item-icon">
              <span></span>
              <span></span>
            </div>
            <span>Elit dis lectus commodo in eget eu, sollicitudin. Ut odio vestibulum dui sed tincidunt?</span>
          </div>
          <div class="faq__item-details">
            <p><b>Et elementum pulvinar</b> lorem in porttitor et consectetur lacus. Cras purus cras eu duis cras aenean mi adipiscing pellentesque.</p>
            <ul>
              <li>Dignissim eu arcu eu porttitor dignissim volutpat lacus nulla.</li>
              <li>Vel auctor orci suspendisse magna <span>auctor nibh.</span></li>
              <li>Orci enim lorem suspendisse cras. Volutpat montes, vulputate sagittis quis ut dolor habitant lectus tortor. <span>Odio velit quam id vel a.</span></li>
            </ul>
          </div>
        </li>
        <li class="faq__item">
          <div class="faq__item-head" data-spoller>
            <div class="faq__item-icon">
              <span></span>
              <span></span>
            </div>
            <span>Elit dis lectus commodo in eget eu, sollicitudin. Ut odio vestibulum dui sed tincidunt?</span>
          </div>
          <div class="faq__item-details">
            <p><b>Et elementum pulvinar</b> lorem in porttitor et consectetur lacus. Cras purus cras eu duis cras aenean mi adipiscing pellentesque.</p>
            <ul>
              <li>Dignissim eu arcu eu porttitor dignissim volutpat lacus nulla.</li>
              <li>Vel auctor orci suspendisse magna <span>auctor nibh.</span></li>
              <li>Orci enim lorem suspendisse cras. Volutpat montes, vulputate sagittis quis ut dolor habitant lectus tortor. <span>Odio velit quam id vel a.</span></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="modal__container application" data-animation="fade" data-speed="300" data-target="application">
    <div class="modal__wrapper">
      <div class="modal__head">
        <div class="modal__head-title">Choose an application</div>
        <div class="modal__close modal-close">
          <svg width='18' height='18'>
            <use href='img/sprite/sprite.svg#close'></use>
          </svg>
        </div>
      </div>

      <div class="application__search search">
        <label class="search__label">
          <input class="search__input" type="search" placeholder="Search for appication">
        </label>
      </div>

      <ul class="application__list">
        <li class="application__list-item">
          <div class="application__list-country">
            <div class="application__country-flag">
              <picture>
                <source type='image/webp' srcset='img/flags/br.webp'>
                <img width='32' height='32' src='img/flags/br.png' alt='Brazil'>
              </picture>
            </div>
            <div class="application__country-name">VPN <span>Brazil</span></div>
          </div>
          <div class="application__list-btns">
            <button class="button__activate button">Activate</button>
            <button class="application__activate" data-path="success">
              <svg width='28' height='28'>
                <use href='img/sprite/sprite.svg#code'></use>
              </svg>
            </button>
          </div>
        </li>
        <li class="application__list-item">
          <div class="application__list-country">
            <div class="application__country-flag">
              <picture>
                <source type='image/webp' srcset='img/flags/br.webp'>
                <img width='32' height='32' src='img/flags/br.png' alt='Brazil'>
              </picture>
            </div>
            <div class="application__country-name">VPN <span>Brazil</span></div>
          </div>
          <div class="application__list-btns">
            <button class="button__activate button">Activate</button>
            <button class="application__activate" data-path="success">
              <svg width='28' height='28'>
                <use href='img/sprite/sprite.svg#code'></use>
              </svg>
            </button>
          </div>
        </li>
        <li class="application__list-item">
          <div class="application__list-country">
            <div class="application__country-flag">
              <picture>
                <source type='image/webp' srcset='img/flags/br.webp'>
                <img width='32' height='32' src='img/flags/br.png' alt='Brazil'>
              </picture>
            </div>
            <div class="application__country-name">VPN <span>Brazil</span></div>
          </div>
          <div class="application__list-btns">
            <button class="button__activate button">Activate</button>
            <button class="application__activate" data-path="success">
              <svg width='28' height='28'>
                <use href='img/sprite/sprite.svg#code'></use>
              </svg>
            </button>
          </div>
        </li>
        <li class="application__list-item">
          <div class="application__list-country">
            <div class="application__country-flag">
              <picture>
                <source type='image/webp' srcset='img/flags/br.webp'>
                <img width='32' height='32' src='img/flags/br.png' alt='Brazil'>
              </picture>
            </div>
            <div class="application__country-name">VPN <span>Brazil</span></div>
          </div>
          <div class="application__list-btns">
            <button class="button__activate button">Activate</button>
            <button class="application__activate" data-path="success">
              <svg width='28' height='28'>
                <use href='img/sprite/sprite.svg#code'></use>
              </svg>
            </button>
          </div>
        </li>
        <li class="application__list-item">
          <div class="application__list-country">
            <div class="application__country-flag">
              <picture>
                <source type='image/webp' srcset='img/flags/br.webp'>
                <img width='32' height='32' src='img/flags/br.png' alt='Brazil'>
              </picture>
            </div>
            <div class="application__country-name">VPN <span>Brazil</span></div>
          </div>
          <div class="application__list-btns">
            <button class="button__activate button">Activate</button>
            <button class="application__activate" data-path="success">
              <svg width='28' height='28'>
                <use href='img/sprite/sprite.svg#code'></use>
              </svg>
            </button>
          </div>
        </li>
        <li class="application__list-item">
          <div class="application__list-country">
            <div class="application__country-flag">
              <picture>
                <source type='image/webp' srcset='img/flags/br.webp'>
                <img width='32' height='32' src='img/flags/br.png' alt='Brazil'>
              </picture>
            </div>
            <div class="application__country-name">VPN <span>Brazil</span></div>
          </div>
          <div class="application__list-btns">
            <button class="button__activate button">Activate</button>
            <button class="application__activate" data-path="success">
              <svg width='28' height='28'>
                <use href='img/sprite/sprite.svg#code'></use>
              </svg>
            </button>
          </div>
        </li>
        <li class="application__list-item">
          <div class="application__list-country">
            <div class="application__country-flag">
              <picture>
                <source type='image/webp' srcset='img/flags/br.webp'>
                <img width='32' height='32' src='img/flags/br.png' alt='Brazil'>
              </picture>
            </div>
            <div class="application__country-name">VPN <span>Brazil</span></div>
          </div>
          <div class="application__list-btns">
            <button class="button__activate button">Activate</button>
            <button class="application__activate" data-path="success">
              <svg width='28' height='28'>
                <use href='img/sprite/sprite.svg#code'></use>
              </svg>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="modal__container" data-animation="fade" data-speed="300" data-target="success">
    <div class="modal__wrapper code">
      <div class="modal__close modal-close">
        <svg width='18' height='18'>
          <use href='img/sprite/sprite.svg#close'></use>
        </svg>
      </div>
      <div class="code__wrapp">
        <div class="code__title">Scan QR code to open activate key</div>
        <div class="code__qr">
          <svg width='301' height='299'>
            <use href='img/sprite/sprite.svg#scan'></use>
          </svg>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
