<div class="modal">
  <div class="modal__container" data-animation="fade" data-speed="300" data-target="qr">
    <div class="modal__wrapper">
      <div class="modal__close modal-close">
        <svg width='28' height='28'>
          <use href='img/sprite/sprite.svg#close'></use>
        </svg>
      </div>
      <p>qr</p>
    </div>
  </div>

  <div class="modal__container" data-animation="fade" data-speed="300" data-target="help">
    <div class="modal__wrapper">
      <div class="modal__close modal-close">
        <svg width='28' height='28'>
          <use href='img/sprite/sprite.svg#close'></use>
        </svg>
      </div>
      <p>help</p>
    </div>
  </div>

  <div class="modal__container" data-animation="fade" data-speed="300" data-target="application">
    <div class="modal__wrapper">
      <div class="modal__close modal-close">
        <svg width='28' height='28'>
          <use href='img/sprite/sprite.svg#close'></use>
        </svg>
      </div>
      <p>application</p>
    </div>
  </div>

  <div class="modal__container" data-animation="fade" data-speed="300" data-target="success">
    <div class="modal__wrapper">
      <div class="modal__close modal-close">
        <svg width='28' height='28'>
          <use href='img/sprite/sprite.svg#close'></use>
        </svg>
      </div>
      <p>application</p>
    </div>
  </div>
</div>
