.button {
  padding: 10px 24px;
  border-radius: 32px;
  transition: all 0.4s ease;


  &__buy,
  &__activate,
  &__success {
    color: var(--color-white);
    background-color: var(--color-blue);
    transition: all 0.4s ease;

    &:hover {
      background-color: rgba(68, 103, 251, 0.8);
    }
  }

  &__activate {
    padding: 9px 26.5px;
  }

  &__success {
    width: 100%;
    padding: 18px 0;
  }

  &__account,
  &__download,
  &__contacts {
    transition: all 0.4s ease;
    border: 1px solid var(--color-border);

    &:hover {
      border: 1px solid var(--color-blue);
    }

    &--footer {
      color: var(--color-white);
    }
  }

  &__contacts {
    padding: 10.5px 41.5px;
    border: 1px solid var(--color-gray);
  }

  &__keys-download,
  &__keys-buy {
    transition: all 0.4s ease;
    color: var(--color-black);
    background-color: var(--color-white);

    &:hover {
      color: var(--color-blue);
    }
  }

  &__keys-buy {
    padding: 10px 16px;
  }
}
