.modal {
  --transition-time: 0.3s;
	position: fixed;
  inset: 0;
	z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity var(--transition-time), visibility var(--transition-time);

  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }


  &.is-open {
    position: fixed;
    opacity: 1;
    visibility: visible;
    transition: opacity var(--transition-time), visibility var(--transition-time);
  }

  &__container {
    position: relative;
    width: auto;
    margin: 50px auto;
    display: none;
    vertical-align: middle;
    cursor: default;

    &.modal-open {
      display: inline-block;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background: var(--color-white);
    box-shadow: 0px 11.2737px 157.832px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;

    @media screen and (max-width: 1240px) {
      width: 90vw;
    }
  }

  &__close {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 12px;
    top: 14px;
    transition: all 0.4s ease;
    cursor: var(--cursor), pointer;

    svg {
      fill: #8C8D96;
      transition: all 0.4s ease;
    }

    &:hover,
    &:active {
      svg {
        fill: var(--color-blue);
      }
    }
  }

  &__head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 24px;
    border-bottom: 1px solid #D9D9D9;

    .modal__close {
      position: relative;
      right: 0;
      top: 0;
    }
  }

  &__head-title {
    display: flex;
  }
}


.fade {
  opacity: 0;
  transition: opacity var(--transition-time);
}

.fade.animate-open {
  opacity: 1;
  transition: opacity var(--transition-time);
}

.fadeInUp {
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity var(--transition-time), transform var(--transition-time);
}

.fadeInUp.animate-open {
  opacity: 1;
  transform: translateY(0);
  transition: opacity var(--transition-time), transform var(--transition-time);
}

.disable-scroll {
  position: relative;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
