.location {
  font-family: var(--font-family-hind);
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}

.header__navigation-link,
.help,
.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

.footer__copyright {
  font-size: 14px;
  line-height: 171%;
}

.download {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}

.footer__block-title {
  font-size: 14px;
  line-height: 171%;
  font-weight: 700;
}

.footer__link {
  font-size: 14px;
  line-height: 171%;
}

.list {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.lang__title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
}

.lang__translation-type {
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
}

.subtitle {
  font-size: 35px;
  line-height: 111%;
  font-weight: 700;
}

.descr {
  font-size: 15px;
  line-height: 148%;
}

.map__countries-text {
  font-size: 24px;
  line-height: 148%;
}


.map__countries-name {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

.scan__descr {
  font-family: var(--font-family-gloria);
  font-size: 10px;
  line-height: 115.5%;
}

.ios__benefits-title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;

  span {
    font-size: 15px;
    line-height: 148%;
    font-weight: 400;
  }
}
