:root {
  /* -- Fonts --*/
  --font-family-pt: "PT-Sans", sans-serif; // var(--font-family-pt);

  /* -- Colors --*/
  --color-main: #313133; // var(--color-main);
  --color-yellow: #FCCE1C; // var(--color-yellow);
  --color-black: #000000;  // var(--color-black);
  --color-white: #ffffff;  // var(--color-white);
  --footer-bg: #F1F1F6; // var(--footer-bg);
  --input-bg: #DDF3F4; // var(--input-bg);


}








