:root {
  /* -- Fonts --*/
  --font-family-karla: "Karla", sans-serif; // var(--font-family-karla);
  --font-family-gloria: "Gloria Hallelujah", sans-serif; // var(--font-family-gloria);
  --font-family-hind: "Hind", sans-serif; // var(--font-family-hind);
  --font-family-gilroy: "Gilroy", sans-serif; // var(--font-family-gilroy);

  /* -- Colors --*/
  --color-black: #000000; // var(--color-black);
  --color-white: #ffffff; // var(--color-white);
  --color-gray: #8C8D96; // var(--color-gray);
  --color-yellow: #FCCE1C; // var(--color-yellow);
  --color-blue: #4467FB; // var(--color-blue);
  --color-alice-blue:#F4F8FB; // var(--color-alice-blue);


  --color-border: #EDF3FB; // var(--color-border);



}








